.container{
    height: 27px;
    width: 100%;
    background-color: transparent;
    border-radius: 30px;
    margin-left: 10px;
}

.filler{
    height: 100%;
    background-color: rgba(104, 117, 144, 0.3);
    border-radius: inherit;
    text-align: left;
    transition: width 1s ease-in-out,
}

.label{
    position: relative;
    top: 2px;
    left: 8px;
    color: rgba(240, 253, 255, 0.8);
    font-size: 12px;
}

.stats {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 35px;
    min-width: 99%;
  }
  
  .stat {
    display: flex;
    flex-direction: row;
    justify-content: start;
    min-width: 412px;
  }