.popup {
  display: flex;
  flex-direction: column;
  background-color: rgba(78, 87, 105, 0.3);
  width: 500px;
  overflow: hidden;
  height: 0px;
  transition: height 0.3s ease;
}

.active {
  display: flex;
  flex-direction: column;
  background-color: rgba(78, 87, 105, 0.3);
  width: 500px;
  height: 623px;
  overflow: hidden;
  transition: height 0.3s ease;
  margin: 0 auto;
}

.popupimg {
  width: 180px;
  max-height: 0px;
  margin: 50px auto 20px auto;
  transition: all 0.3s ease;
  overflow: hidden;
}

.popupimgactive {
  width: 180px;
  max-height: 180px;
  margin: 50px auto 20px auto;
  transition: all 0.3s ease;
  overflow: hidden;
}

.popupstats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 95%;
  margin: 0 auto;
}

.stats {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 35px;
  min-width: 99%;
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: start;
  min-width: 412px;
}

.menubutton {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 30px;
  width: 70px;
  height: 60px;
  /* border-radius: 50px;
  background-color: rgba(104, 117, 144, 0.3); */
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.menubutton:nth-child(4) {
  margin-right: 0;
}

.icon {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.menubutton:hover {
  cursor: pointer;
}

.menusmallbutton {
  display: flex;
  width: 58px;
  height: 28px;
  border-radius: 30px;
  background-color: rgba(104, 117, 144, 0.3);
  color: rgba(240, 253, 255, 0.8);
  font-size: 7px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1948px){
  .active{
    width: 731px;
  }

  .stats{
    grid-gap: 25px;
    margin-left: 45px;
  }

}