
.player{
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: rgba(183, 190, 204, 0.1);
    align-items: center;
    padding-left: 8px;
    padding-right: 10px;
    margin-left: 2px;
    margin-right: 3px;
    margin-bottom: 2px;
  }

  .player:first-child{
    margin-top: 5px;
  }
  
  .user{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 60px;
  }

  .player:hover{
    cursor:pointer;
    box-shadow: rgba(238, 236, 236, 0.4) 0px 1px 4px 0px, rgba(235, 238, 241, 0.15) 0px 0px 2px 1px, rgba(242, 243, 244, 0.15) 0px -0.5px 2px 0px;
  }
  
  .username{
    margin-left: 7px;
    margin-right: 3px;
    color: rgba(255, 255, 255, 0.6);
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-size: 12px;
    min-width: 72px;
    max-width: 72px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
  }
  
  .userplace{
    width: 25px;
    font-size: 13px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: acumin-pro-extra-condensed, sans-serif;
  }
  
  .useravatar{
    display: flex;
    margin-left: 8px;
    min-width: 25px;
    height: 25px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .usercountry{
    display: flex;
    width: 15px;
    height: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .statext{
    display: flex;
    width: 53px;
    margin-left: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.69);
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-size: 13px;
    box-sizing: border-box;
  }

  @media screen and (max-width: 1948px){
    .user{
      margin-right: 158px;
    }
    
    .userplace{
      font-size: 16px;
      margin-right: 10px;
    }

    .useravatar{
      min-width: 30px;
      height: 30px;
      margin-right: 8px;
    }

    .usercountry {
      width: 20px;
      height: 15px;
      margin-right: 2px;
}

    .username{
      font-size: 16px;
      min-width: 108px;
      max-width: 108px;
    }
  }