.containerleft {
  display: none;
  visibility: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(104, 117, 144, 0.3);
  align-items: center;
  justify-content: center;
  rotate: 90deg;
  opacity: 0.6;
  margin: 0;
}

.containerright {
  display: none;
  visibility: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(104, 117, 144, 0.3);
  align-items: center;
  justify-content: center;
  rotate: -90deg;
  opacity: 0.6;
  margin: 0;
}

.containerleft:hover {
  cursor: pointer;
  opacity: 1;
}

.containerright:hover {
  cursor: pointer;
  opacity: 1;
}

.containerleft .img {
  margin-top: 3px;
}

.containerright .img {
  margin-top: 3px;
}

.img {
  width: 25px;
  height: 10px;
}

@media screen and (max-width: 1948px) {
    
  .containerleft {
    display: flex;
    visibility: visible;
    position: relative;
    bottom: 39vh;
    left: calc((100vw - 731px) / 2 - 58px);
    z-index: 5;
    margin: 0;
  }

  .containerright {
    display: flex;
    visibility: visible;
    position: relative;
    z-index: 5;
    margin: 0;
    bottom: calc(39vh + 50px);
    left: calc(((100vw - 731px) / 2 - 52px) + 731px + 60px);
  }

  .containerleft:hover {
    cursor: pointer;
    opacity: 1;
  }
  
  .containerright:hover {
    cursor: pointer;
    opacity: 1;
  }

}

@media screen and (min-width: 320px) and (max-width: 875px) {

  .img{
    width: 15px;
    height: 7px;
  }

  .containerleft {
    width: 30px;
    height: 30px;
    left: calc((100vw - 731px) / 2);
  }

  .containerright{
    width: 30px;
    height: 30px;
    bottom: calc(39vh + 30px);
    left: calc(((100vw - 731px) / 2 - 52px) + 731px + 22px);
  }
}