.appcontainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
  }
  
  .apptitle {
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 45px;
    font-weight: 700;
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
  }
  
  .apptitle:nth-child(3) {
    font-size: 30px;
    margin: 10px 0 100px 0;
  }

  .btnslicedisabled{
    opacity: 0.7;
  }

  @media screen and (max-width: 550px){
    .apptitle{
      font-size: 28px;
    }
    .apptitle:nth-child(3) {
      font-size: 20px;
      margin: 10px 0 100px 0;
    }
  }